@charset  "UTF-8";
html{
    height: 100%;
    width: 100%;
    background-color: aquamarine;
    padding: 0px;
    margin: 0px;
}
body{
    background-color: azure;
    height: 1150px;
    width: 700px;
    padding: 10px;
    margin: auto;
}

h1{
    font-weight: bold;
    text-decoration-line:underline;
}
header > section  > p {
    color: blue;
}
h2 {
   font-size: xx-large;
}